<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCn4ySWfzJaGd5P9-8-1v0vp-Lu6CeVbqg</string>
	<key>GCM_SENDER_ID</key>
	<string>12661276100</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.comfortchurch.portal</string>
	<key>PROJECT_ID</key>
	<string>comfort-church</string>
	<key>STORAGE_BUCKET</key>
	<string>comfort-church.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12661276100:ios:4f6ed5d925ebce6a7b3891</string>
</dict>
</plist>